<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

  </head>
  <body>
    <header>
      <div class="container">
        <a href="{{ url_for('index') }}"> <h1 class="title">Places of Interest</h1></a>
        <a href="{{ url_for('logout') }}" class="btn-signout" style="float: right;"">Sign out</a> 
        <a href="{{ url_for('login') }}" class="btn-signin" style="float: right;"">Sign in</a> 
      </div>
    </header>
    
    {% block content %}
    {% endblock %}
    
  </body>
  <footer>
    This site is developed by Nic Bandy <br>
    <a href="mailto:bandyne@mail.uc.edu">bandyne@mail.uc.edu</a>
  </footer>
</html>